Repository bounswe/bounswe2022group6, pull requests merged in 2022-05, with the labels that each got.

#98 Generated Initial Files for the Practice Application
  .gitignore
  practice_app/manage.py
  practice_app/practice_app/__init__.py
  practice_app/practice_app/asgi.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
  practice_app/practice_app/wsgi.py
  practice_app/requirements.txt
Labels: Type: Enhancement

#104 Advice App Initial GET and POST Request Support
  practice_app/apps/advice/__init__.py
  practice_app/apps/advice/admin.py
  practice_app/apps/advice/apps.py
  practice_app/apps/advice/migrations/__init__.py
  practice_app/apps/advice/models.py
  practice_app/apps/advice/templates/adviceHome.html
  practice_app/apps/advice/tests.py
  practice_app/apps/advice/urls.py
  practice_app/apps/advice/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
  practice_app/requirements.txt
Labels: Priority: Medium, State: In Progess, Practice App

#107 Article App GET and POST Request
  practice_app/apps/article/__init__.py
  practice_app/apps/article/admin.py
  practice_app/apps/article/apps.py
  practice_app/apps/article/models.py
  practice_app/apps/article/static/button.css
  practice_app/apps/article/templates/index.html
  practice_app/apps/article/templates/list.html
  practice_app/apps/article/templates/search.html
  practice_app/apps/article/tests.py
  practice_app/apps/article/urls.py
  practice_app/apps/article/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
Labels: Priority: Medium, State: In Progess, Practice App

#112 Post app GET and Post Request
  practice_app/apps/post/admin.py
  practice_app/apps/post/apps.py
  practice_app/apps/post/migrations/0001_initial.py
  practice_app/apps/post/migrations/0002_remove_post_nsfw.py
  practice_app/apps/post/models.py
  practice_app/apps/post/serializers.py
  practice_app/apps/post/templates/postDetail.html
  practice_app/apps/post/templates/posterror.html
  practice_app/apps/post/templates/postindex.html
  practice_app/apps/post/tests.py
  practice_app/apps/post/urls.py
  practice_app/apps/post/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
Labels: Priority: Medium, State: In Progess, Practice App

#108 User App GET and POST Request
  practice_app/apps/user/__init__.py
  practice_app/apps/user/admin.py
  practice_app/apps/user/apps.py
  practice_app/apps/user/forms.py
  practice_app/apps/user/migrations/0001_initial.py
  practice_app/apps/user/migrations/0002_remove_user_user_id.py
  practice_app/apps/user/migrations/0003_alter_user_username.py
  practice_app/apps/user/migrations/0004_alter_user_mail.py
  practice_app/apps/user/migrations/__init__.py
  practice_app/apps/user/models.py
  practice_app/apps/user/serializers.py
  practice_app/apps/user/templates/user-create.html
  practice_app/apps/user/templates/user-detail.html
  practice_app/apps/user/templates/user-home.html
  practice_app/apps/user/templates/user-list.html
  practice_app/apps/user/tests.py
  practice_app/apps/user/urls.py
  practice_app/apps/user/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
Labels: Priority: Medium, State: In Progess, Practice App

#116 Comment API GET and POST Request
  .DS_Store
  practice_app/apps/comment/__init__.py
  practice_app/apps/comment/admin.py
  practice_app/apps/comment/apps.py
  practice_app/apps/comment/migrations/0001_initial.py
  practice_app/apps/comment/migrations/0002_auto_20220516_1242.py
  practice_app/apps/comment/migrations/0003_alter_comment_pub_date.py
  practice_app/apps/comment/migrations/__init__.py
  practice_app/apps/comment/models.py
  practice_app/apps/comment/templates/comment/detail.html
  practice_app/apps/comment/templates/comment/index.html
  practice_app/apps/comment/templates/comment/insert.html
  practice_app/apps/comment/tests.py
  practice_app/apps/comment/urls.py
  practice_app/apps/comment/views.py
  practice_app/apps/user/templates/user-create.html
  practice_app/apps/user/templates/user-detail.html
  practice_app/apps/user/templates/user-list.html
  practice_app/apps/user/urls.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
  practice_app/requirements.txt
Labels: Type: Enhancement, Priority: Low, State: Approved, Practice App

#130 News App: GET and POST Request
  practice_app/apps/news/__init__.py
  practice_app/apps/news/admin.py
  practice_app/apps/news/apps.py
  practice_app/apps/news/country_abbreviations.json
  practice_app/apps/news/migrations/__init__.py
  practice_app/apps/news/models.py
  practice_app/apps/news/templates/news_index.html
  practice_app/apps/news/templates/news_list.html
  practice_app/apps/news/tests.py
  practice_app/apps/news/urls.py
  practice_app/apps/news/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
Labels: Priority: Medium, State: In Progress, Practice App

#128 Advice App Database Support, Bad Input Handling, and Tests
  practice_app/apps/advice/admin.py
  practice_app/apps/advice/migrations/__init__.py
  practice_app/apps/advice/models.py
  practice_app/apps/advice/templates/adviceHome.html
  practice_app/apps/advice/tests.py
  practice_app/apps/advice/urls.py
  practice_app/apps/advice/views.py
Labels: Type: Enhancement, Priority: Medium, State: In Progress, Practice App

#125 User App: External API and Tests
  practice_app/apps/user/forms.py
  practice_app/apps/user/migrations/0001_initial.py
  practice_app/apps/user/migrations/0002_remove_user_user_id.py
  practice_app/apps/user/migrations/0003_alter_user_username.py
  practice_app/apps/user/migrations/0004_alter_user_mail.py
  practice_app/apps/user/models.py
  practice_app/apps/user/templates/user-create.html
  practice_app/apps/user/templates/user-detail.html
  practice_app/apps/user/templates/user-home.html
  practice_app/apps/user/templates/user-list.html
  practice_app/apps/user/tests.py
  practice_app/apps/user/urls.py
  practice_app/apps/user/views.py
Labels: Priority: High, State: In Progress, Practice App

#127 Post App: External API and Tests
  practice_app/apps/post/templates/postindex.html
  practice_app/apps/post/tests.py
  practice_app/apps/post/urls.py
  practice_app/apps/post/views.py
Labels: Priority: High, State: In Progress, Practice App

#129 Article App: Test Enhancement
  practice_app/apps/article/tests.py
  practice_app/apps/article/urls.py
Labels: Priority: Medium, State: In Progress, Practice App

#121 Drugs and Side Effects App
  practice_app/apps/drug_side_effects/__init__.py
  practice_app/apps/drug_side_effects/admin.py
  practice_app/apps/drug_side_effects/apps.py
  practice_app/apps/drug_side_effects/migrations/0001_initial.py
  practice_app/apps/drug_side_effects/migrations/__init__.py
  practice_app/apps/drug_side_effects/models.py
  practice_app/apps/drug_side_effects/templates/drug_side_effects_home.html
  practice_app/apps/drug_side_effects/tests.py
  practice_app/apps/drug_side_effects/urls.py
  practice_app/apps/drug_side_effects/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
Labels: Priority: Medium, State: In Progress, Practice App

#137 Add back button to location manager
  practice_app/apps/location_mgr/templates/location.html
Labels: Priority: Low, State: In Progress, Practice App

#139 User App: minor updates about api
  practice_app/apps/user/urls.py
  practice_app/apps/user/views.py
Labels: Priority: Medium, State: In Progress, Practice App

#136 Coronavirus
  .gitignore
  practice_app/apps/coronavirus/Combined_Keys.txt
  practice_app/apps/coronavirus/__init__.py
  practice_app/apps/coronavirus/apps.py
  practice_app/apps/coronavirus/templates/coronavirus.html
  practice_app/apps/coronavirus/templates/displaydata.html
  practice_app/apps/coronavirus/urls.py
  practice_app/apps/coronavirus/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
Labels: Priority: High, State: Approved, Practice App

#150 Home Buttons
  practice_app/apps/home/templates/home.html
Labels: Type: Enhancement, Priority: Low, Practice App

#142 Hospital List App (First Draft)
  practice_app/apps/home/templates/home.html
  practice_app/apps/hospital/__init__.py
  practice_app/apps/hospital/admin.py
  practice_app/apps/hospital/apps.py
  practice_app/apps/hospital/forms.py
  practice_app/apps/hospital/models.py
  practice_app/apps/hospital/templates/error.html
  practice_app/apps/hospital/templates/hospi-index.html
  practice_app/apps/hospital/templates/thanks.html
  practice_app/apps/hospital/tests.py
  practice_app/apps/hospital/urls.py
  practice_app/apps/hospital/views.py
  practice_app/practice_app/settings.py
  practice_app/practice_app/urls.py
Labels: Priority: High, State: In Progress, Practice App
