Repository bounswe/bounswe2022group6, pull requests merged in 2022-10, with the labels that each got.

#180 Refactor folder structure, update dockerfiles
  .gitignore
  Application/Backend/Database/Dockerfile
  Application/Backend/docker-compose.yml
  Application/Backend/docker_backend/Dockerfile
  Application/Backend/docker_backend/init_backend.sh
  Application/Backend/docker_database/Dockerfile
  Application/Backend/docker_database/init_db.sh
  Application/Backend/manage.py
  Application/Backend/src/__init__.py
  Application/Backend/src/asgi.py
  Application/Backend/src/settings.py
  Application/Backend/src/urls.py
  Application/Backend/src/wsgi.py
Labels: Priority: Low, Type: Development, Backend

#192 Initialized frontend project.
  Application/Frontend/.gitignore
  Application/Frontend/README.md
  Application/Frontend/package-lock.json
  Application/Frontend/package.json
  Application/Frontend/public/favicon.ico
  Application/Frontend/public/index.html
  Application/Frontend/public/logo192.png
  Application/Frontend/public/logo512.png
  Application/Frontend/public/manifest.json
  Application/Frontend/public/robots.txt
  Application/Frontend/src/App.css
  Application/Frontend/src/App.js
  Application/Frontend/src/App.test.js
  Application/Frontend/src/index.css
  Application/Frontend/src/index.js
  Application/Frontend/src/logo.svg
  Application/Frontend/src/reportWebVitals.js
  Application/Frontend/src/setupTests.js
Labels: Priority: High, State: In Progress, Frontend

#194 Frontend/feature/base pages
  Application/Frontend/package-lock.json
  Application/Frontend/package.json
  Application/Frontend/src/App.css
  Application/Frontend/src/App.js
  Application/Frontend/src/assets/boun_1.png
  Application/Frontend/src/assets/boun_2.png
  Application/Frontend/src/logo.svg
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/pages/Landing.js
  Application/Frontend/src/pages/Login.js
Labels: Priority: High, State: In Progress, Type: Development, Frontend

#199 Profile and register pages are added.
  Application/Frontend/src/App.css
  Application/Frontend/src/App.js
  Application/Frontend/src/assets/boun_3.png
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/pages/Profile.js
  Application/Frontend/src/pages/Register.js
Labels: Priority: High, Type: Development, Frontend

#205 Home Page Designed
  Application/Frontend/src/App.css
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/pages/home.module.css
Labels: Priority: High, State: Completed, Frontend

#207 Add dockerfile and docker-compose.yml for containerization
  Application/Backend/src/settings.py
  Application/Frontend/Dockerfile
  Application/Frontend/docker-compose.yml
  Application/Frontend/src/App.test.js
Labels: Priority: Medium, Type: Development, Frontend

#203 login screen implemented
  Application/Mobile/App.js
  Application/Mobile/android/app/src/main/assets/fonts/AntDesign.ttf
  Application/Mobile/android/app/src/main/assets/fonts/Entypo.ttf
  Application/Mobile/android/app/src/main/assets/fonts/EvilIcons.ttf
  Application/Mobile/android/app/src/main/assets/fonts/Feather.ttf
  Application/Mobile/android/app/src/main/assets/fonts/FontAwesome.ttf
  Application/Mobile/android/app/src/main/assets/fonts/FontAwesome5_Brands.ttf
  Application/Mobile/android/app/src/main/assets/fonts/FontAwesome5_Regular.ttf
  Application/Mobile/android/app/src/main/assets/fonts/FontAwesome5_Solid.ttf
  Application/Mobile/android/app/src/main/assets/fonts/Fontisto.ttf
  Application/Mobile/android/app/src/main/assets/fonts/Foundation.ttf
  Application/Mobile/android/app/src/main/assets/fonts/Ionicons.ttf
  Application/Mobile/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  Application/Mobile/android/app/src/main/assets/fonts/MaterialIcons.ttf
  Application/Mobile/android/app/src/main/assets/fonts/Octicons.ttf
  Application/Mobile/android/app/src/main/assets/fonts/SimpleLineIcons.ttf
  Application/Mobile/android/app/src/main/assets/fonts/Zocial.ttf
  Application/Mobile/android/app/src/main/java/com/mobile/MainActivity.java
  Application/Mobile/android/app/src/main/java/com/mobile/MainApplication.java
  Application/Mobile/android/settings.gradle
  Application/Mobile/apis/Authentication.js
  Application/Mobile/index.js
  Application/Mobile/ios/Mobile.xcodeproj/project.pbxproj
  Application/Mobile/ios/Mobile/AppDelegate.h
  Application/Mobile/ios/Mobile/AppDelegate.mm
  Application/Mobile/ios/Podfile
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/authantication/Login.js
  Application/Mobile/yarn.lock
Labels: State: Completed, Type: Development, Mobile

#209 Update frontend base image"
  Application/Frontend/Dockerfile
Labels: Priority: Low, Type: Development, Frontend

#216 Registration endpoint integration
  Application/Frontend/src/components/MessageBox.js
  Application/Frontend/src/components/RegisterForm.js
  Application/Frontend/src/pages/Register.js
  Application/Frontend/src/services/API.js
Labels: Priority: High, State: In Progress, Type: Development, Frontend

#217 Login Feature Completion
  Application/Backend/api_docs/login_api_doc.json
  Application/Backend/api_docs/registration_api_doc.json
  Application/Backend/api_docs/signup_doc.json
  Application/Backend/docker_backend/Dockerfile
  Application/Backend/docker_backend/test_settings.py
  Application/Backend/src/accmgr/admin.py
  Application/Backend/src/accmgr/models.py
  Application/Backend/src/accmgr/tests.py
  Application/Backend/src/accmgr/views.py
  Application/Backend/src/settings.py
  Application/Backend/src/urls.py
Labels: Priority: High, State: In Progress, Type: Development, Backend

#229 Add docs for profile details Postman documents
  Application/Backend/api_docs/profile_api_doc.json
  Application/Backend/src/accmgr/views.py
  Application/Backend/src/urls.py
Labels: Type: Documentation, Priority: Medium, State: Completed, Backend

#228 Add profile API to get user details
  Application/Backend/src/accmgr/views.py
  Application/Backend/src/urls.py
Labels: Priority: Medium, Type: Development, Backend

#226 Frontend/feature/log in api integration
  Application/Frontend/src/components/LoginForm.js
  Application/Frontend/src/components/RegisterForm.js
  Application/Frontend/src/pages/Login.js
  Application/Frontend/src/services/Login_API.js
  Application/Frontend/src/services/Register_API.js
Labels: Priority: High, State: In Progress, Type: Development, Frontend

#221 Main Navigation Framework Established
  Application/Mobile/App.js
  Application/Mobile/android/app/src/main/java/com/mobile/MainActivity.java
  Application/Mobile/android/gradlew
  Application/Mobile/babel.config.js
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/authantication/Login.js
  Application/Mobile/pages/authantication/SignUpScreen.js
  Application/Mobile/pages/explore/ExploreScreen.js
  Application/Mobile/pages/home/HomeScreen.js
  Application/Mobile/pages/messages/MessagesScreen.js
  Application/Mobile/pages/navigation/AppNavigation.js
  Application/Mobile/pages/navigation/DrawerNavigation.js
  Application/Mobile/pages/navigation/ProfileNavigation.js
  Application/Mobile/pages/profile/EditProfileScreen.js
  Application/Mobile/pages/profile/ProfileScreen.js
  Application/Mobile/yarn.lock
Labels: Priority: High, State: In Progress, Type: Development, Mobile

#234 Profile Page Initialized
  .DS_Store
  Application/Mobile/App.js
  Application/Mobile/android/app/src/main/res/values/strings.xml
  Application/Mobile/app.json
  Application/Mobile/ios/Mobile.xcodeproj/project.pbxproj
  Application/Mobile/ios/Mobile.xcworkspace/contents.xcworkspacedata
  Application/Mobile/ios/Podfile.lock
  Application/Mobile/package-lock.json
  Application/Mobile/pages/messages/MessagesScreen.js
  Application/Mobile/pages/navigation/ProfileNavigation.js
  Application/Mobile/pages/profile/EditProfileScreen.js
  Application/Mobile/pages/profile/ProfileScreen.js
  Application/Mobile/yarn.lock
Labels: Priority: Medium, State: In Progress, Type: Development, Mobile

#239 Frontend/feature/log out api integration
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/pages/Profile.js
  Application/Frontend/src/services/Login_API.js
  Application/Frontend/src/services/Logout_API.js
  Application/Frontend/src/services/Register_API.js
Labels: Priority: High, State: Completed, Type: Development, Frontend

#236 Conflicts resolved
  Application/Mobile/apis/Authentication.js
  Application/Mobile/components/LoadingDisplay.js
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/authantication/Login.js
  Application/Mobile/pages/authantication/SignUpScreen.js
  Application/Mobile/pages/navigation/AppNavigation.js
  Application/Mobile/yarn.lock
Labels: Priority: High, State: Completed, Type: Development, Mobile
