Repository bounswe/bounswe2022group6, pull requests merged in 2022-11, with the labels that each got.

#241 Messages Page Initialized
  .DS_Store
  Application/Mobile/pages/messages/MessagesScreen.js
  Application/Mobile/pages/profile/EditProfileScreen.js
Labels: Priority: Medium, State: In Progress, Type: Development, Mobile

#248 Birth Date static value problem fixed
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/authantication/Login.js
  Application/Mobile/pages/authantication/SignUpScreen.js
Labels: Bug, Priority: Medium, State: Approved, Type: Development, Mobile

#265 Added Light & Dark Theme Objects
  Application/Mobile/App.js
  Application/Mobile/images/logo.png
  Application/Mobile/images/logo_long.png
  Application/Mobile/pages/authentication/Login.js
  Application/Mobile/pages/authentication/SignUpScreen.js
  Application/Mobile/pages/navigation/AppNavigation.js
  Application/Mobile/pages/navigation/DrawerNavigation.js
  Application/logo/logo.png
  Application/logo/logo_long.png
Labels: Type: Enhancement, Priority: Medium, State: In Progress, Mobile

#262 Fix dockerization image dublication issue, add reset_db
  Application/Backend/docker-compose.yml
  Application/Backend/docker_backend/init_backend.sh
  Application/Backend/docker_database/Dockerfile
  Application/Backend/docker_database/init_db.sh
  Application/Backend/docker_database/reset_db.sh
  Application/Frontend/docker-compose.yml
Labels: Priority: High, Type: Development, Backend

#270 Added Home Feed
  Application/Mobile/pages/home/HomeHeader.js
  Application/Mobile/pages/home/HomeScreen.js
  Application/Mobile/pages/navigation/DrawerNavigation.js
  Application/Mobile/pages/post/PostPreview.js
Labels: Priority: Medium, State: In Progress, Type: Development, Mobile

#269 RegisteredUser Model Updated and Account Model Created
  Application/Backend/src/accmgr/admin.py
  Application/Backend/src/accmgr/models.py
  Application/Backend/src/accmgr/views.py
Labels: Priority: Medium, State: In Progress, Type: Development, Backend

#260 Backend/feature/locmgr
  Application/Backend/docker_backend/Dockerfile
  Application/Backend/docker_backend/test_settings.py
  Application/Backend/docker_database/Dockerfile
  Application/Backend/requirements.txt
  Application/Backend/src/locmgr/__init__.py
  Application/Backend/src/locmgr/admin.py
  Application/Backend/src/locmgr/apps.py
  Application/Backend/src/locmgr/models.py
  Application/Backend/src/locmgr/tests.py
  Application/Backend/src/locmgr/urls.py
  Application/Backend/src/locmgr/views.py
  Application/Backend/src/settings.py
  Application/Backend/src/urls.py
Labels: Priority: Medium, Type: Development, Backend

#273 Profile View/Edit Functionalities Implemented
  Application/Backend/api_docs/profile_api_doc.json
  Application/Backend/src/accmgr/models.py
  Application/Backend/src/accmgr/tests.py
  Application/Backend/src/accmgr/views.py
Labels: Priority: High, State: Completed, Type: Development, Backend

#268 Frontend/homepage
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/pages/home.module.css
Labels: Priority: Medium, Type: Development, Frontend

#283 Fix react-icons bug
  Application/Frontend/package.json
Labels: Priority: High, Type: Development, Frontend

#276 Backend/feature/locmgr tests
  Application/Backend/api_docs/locmgr_api_doc.json
  Application/Backend/docker_backend/test_settings.py
  Application/Backend/src/locmgr/tests.py
  Application/Backend/src/locmgr/views.py
Labels: Type: Documentation, Priority: Medium, Type: Development, Backend

#287 Add contmgr app, refactor code
  Application/Backend/docker_backend/test_settings.py
  Application/Backend/src/accmgr/urls.py
  Application/Backend/src/contmgr/__init__.py
  Application/Backend/src/contmgr/admin.py
  Application/Backend/src/contmgr/apps.py
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/urls.py
  Application/Backend/src/contmgr/views.py
  Application/Backend/src/settings.py
  Application/Backend/src/urls.py
Labels: Priority: Medium, Type: Development, Backend

#288 Content Models Added
  Application/Backend/src/contmgr/admin.py
  Application/Backend/src/contmgr/models.py
Labels: Priority: High, State: In Progress, Type: Development, Backend

#291 Frontend/fix/reload bug
  Application/Frontend/Dockerfile
  Application/Frontend/docker-compose.yml
  Application/Frontend/package-lock.json
Labels: Priority: High, Type: Development, Frontend

#289 Templates for post related operations are implemened
  Application/Frontend/src/App.css
  Application/Frontend/src/App.js
  Application/Frontend/src/components/Comment.js
  Application/Frontend/src/components/CreatePostForm.js
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/pages/Landing.js
  Application/Frontend/src/pages/Post.js
  Application/Frontend/src/pages/home.module.css
Labels: Priority: High, State: In Progress, Type: Development, Frontend
