Repository bounswe/bounswe2022group6, pull requests merged in 2022-12, with the labels that each got.

#298 Frontend UI design
  Application/Frontend/package.json
  Application/Frontend/public/index.html
  Application/Frontend/src/App.css
  Application/Frontend/src/App.js
  Application/Frontend/src/assets/MediShare.png
  Application/Frontend/src/assets/boun_1.png
  Application/Frontend/src/assets/boun_2.png
  Application/Frontend/src/assets/boun_3.png
  Application/Frontend/src/assets/sign.svg
  Application/Frontend/src/assets/stethoscope.svg
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/components/LoginForm.js
  Application/Frontend/src/components/RegisterForm.js
  Application/Frontend/src/index.js
  Application/Frontend/src/pages/Landing.js
  Application/Frontend/src/pages/Login.js
  Application/Frontend/src/pages/Register.js
  Application/Frontend/src/services/Login_API.js
  Application/Frontend/src/services/Register_API.js
Labels: Priority: Medium, State: In Progress, Type: Development, Frontend

#303 Backend/feature/post view
  Application/Backend/src/contmgr/urls.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, Type: Development, Backend

#305 Backend/feature/content voting system
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/urls.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, Type: Development, Backend

#297 Label Structure Implemented
  Application/Backend/api_docs/labels_api_doc.json
  Application/Backend/src/contmgr/admin.py
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/urls.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, State: Completed, Type: Development, Backend

#306 Search Feature Implemented
  Application/Backend/api_docs/search_api_doc.json
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/urls.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, State: Completed, Backend

#323 Backend/feature/profile
  Application/Backend/src/accmgr/views.py
Labels: Bug, Priority: Medium, Type: Development, Backend

#319 file upload is done
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/components/PhotoUpload.js
  Application/Mobile/yarn.lock
Labels: Priority: Medium, State: In Progress, Type: Development, Mobile

#310 Add documents for content manager
  Application/Backend/api_docs/comment_api_doc.json
  Application/Backend/api_docs/content_vote_api_doc.json
  Application/Backend/api_docs/post_api_doc.json
Labels: Type: Documentation, Priority: Medium, Type: Development, Backend

#328 Searching Page Initialized, .env Support Added
  .DS_Store
  Application/Mobile/babel.config.js
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/authentication/Login.js
  Application/Mobile/pages/home/HomeHeader.js
  Application/Mobile/pages/home/HomeScreen.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/search/FilterModal.js
  Application/Mobile/pages/search/LabelFilter.js
  Application/Mobile/pages/search/SearchListHeader.js
  Application/Mobile/pages/search/SearchScreen.js
  Application/Mobile/pages/search/SearchScreenHeader.js
  Application/Mobile/pages/userAPI.js
  Application/Mobile/yarn.lock
Labels: Priority: High, State: In Progress, Type: Development, Mobile

#332 Added Label Addition to Post Creation View
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, State: Completed, Type: Development, Backend

#335 Post Model Class as_dict() Method Updated
  Application/Backend/src/contmgr/models.py
Labels: Priority: Medium, State: Completed, Type: Development, Backend

#336 Get All Posts Endpoint Added
  Application/Backend/src/contmgr/urls.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, State: Completed, Type: Development, Backend

#341 Post Search & Home Feed Backend Connection Established
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/authentication/SignUpScreen.js
  Application/Mobile/pages/home/HomeFeed.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/search/FilterModal.js
  Application/Mobile/pages/search/SearchScreen.js
Labels: Priority: High, State: In Progress, Type: Development, Mobile

#338 Frontend/feature/create post api integration
  Application/Frontend/docker-compose.yml
  Application/Frontend/package.json
  Application/Frontend/src/components/CreatePostForm.js
  Application/Frontend/src/components/RegisterForm.js
  Application/Frontend/src/pages/Profile.js
  Application/Frontend/src/pages/home.module.css
  Application/Frontend/src/services/Create_Post_API.js
  Application/Frontend/src/services/Label_API.js
Labels: Type: Enhancement, Priority: High, State: In Progress, Type: Development, Frontend

#346 Fix required items requested
  Application/Backend/api_docs/comment_api_doc.json
  Application/Backend/api_docs/content_vote_api_doc.json
  Application/Backend/api_docs/post_api_doc.json
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, Type: Development, Backend

#350 Frontend/feature/delete user
  Application/Frontend/src/pages/Profile.js
  Application/Frontend/src/services/Delete_User_API.js
Labels: Priority: Medium, State: In Progress, Type: Development, Frontend

#354 Post Image URL Case Fix
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, State: Completed, Type: Development, Backend

#352 Frontend/feature/post api integration
  Application/Frontend/package.json
  Application/Frontend/src/components/Comment.js
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/components/RegisterForm.js
  Application/Frontend/src/index.js
  Application/Frontend/src/pages/Post.js
  Application/Frontend/src/pages/home.module.css
  Application/Frontend/src/services/Create_Comment_API.js
  Application/Frontend/src/services/Login_API.js
  Application/Frontend/src/services/Logout_API.js
  Application/Frontend/src/services/Post_API.js
  Application/Frontend/src/services/Vote_API.js
Labels: Priority: High, Type: Development, Frontend

#355 Mobile/chat bot
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/components/PhotoUpload.js
  Application/Mobile/pages/home/Chatbot.js
  Application/Mobile/pages/home/HomeFeed.js
  Application/Mobile/pages/navigation/DrawerNavigation.js
  Application/Mobile/pages/post/CreatePost.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/postAPI.js
  Application/Mobile/pages/search/FilterModal.js
Labels: Type: Enhancement, Priority: Medium, State: Completed, Mobile

#359 Post Views Updated
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, State: Completed, Type: Development, Backend

#361 hotfix for labels and comment count changes from backend
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/pages/Post.js
Labels: Priority: High, Type: Development, Frontend

#360 post details comments added
  Application/Mobile/pages/home/HomeFeed.js
  Application/Mobile/pages/post/CreatePost.js
  Application/Mobile/pages/post/PostDetails.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/postAPI.js
Labels: Priority: High, Mobile

#362 Vote Buttons Initialized
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/home/HomeFeed.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/userAPI.js
Labels: Type: Enhancement, Priority: Medium, State: Completed, Mobile

#365 Executive Summary Section Added to Milestone 2 Report
  deliverables/CMPE451_Customer_Presentation_Milestone_2.md
Labels: Type: Documentation, Priority: Medium, State: Completed

#366 Added Annotation Section to the Customer Presentation Milestone 2
  deliverables/CMPE451_Customer_Presentation_Milestone_2.md
Labels: Type: Documentation, Priority: Medium, State: Completed

#370 Added Standards Section to the Customer Milestone 2
  deliverables/CMPE451_Customer_Presentation_Milestone_2.md
Labels: Type: Documentation, Priority: High, State: Completed

#372 Added Personal Report and Table of Yusuf Erdem Nacar to the Customer Milestone 2 Report
  deliverables/CMPE451_Customer_Presentation_Milestone_2.md
Labels: Type: Documentation, Priority: High, State: Completed

#382 Added ReadMe.md for the Mobile Folder
  Application/Mobile/ReadMe.md
Labels: Type: Documentation, Priority: Medium, Priority: Low, State: Approved, Mobile

#389 Edit Post Comment Endpoint Implementation Merge
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: High, Type: Development, Backend

#397 Guest Login is Implemented for Mobile
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/authentication/Login.js
  Application/Mobile/pages/authentication/SignUpScreen.js
  Application/Mobile/pages/home/HomeFeed.js
  Application/Mobile/pages/home/HomeScreen.js
  Application/Mobile/pages/navigation/AppNavigation.js
  Application/Mobile/pages/navigation/DrawerNavigation.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/postAPI.js
  Application/Mobile/pages/userAPI.js
  Application/Mobile/yarn.lock
Labels: Priority: Medium, State: In Progress, Type: Development, Mobile

#398 Annotation Support for Backend Implemented
  Application/Backend/api_docs/annotations_api_doc.json
  Application/Backend/docker_backend/Dockerfile
  Application/Backend/docker_backend/init_backend.sh
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/routers.py
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/urls.py
  Application/Backend/src/contmgr/views.py
  Application/Backend/src/settings.py
Labels: Priority: High, State: Completed, Type: Development, Backend

#402 Enhanced Response Data of Profile, Post and Comment Retrieval
  Application/Backend/api_docs/comment_api_doc.json
  Application/Backend/api_docs/post_api_doc.json
  Application/Backend/api_docs/profile_api_doc.json
  Application/Backend/api_docs/search_api_doc.json
  Application/Backend/src/accmgr/models.py
  Application/Backend/src/accmgr/serializers.py
  Application/Backend/src/accmgr/tests.py
  Application/Backend/src/accmgr/views.py
  Application/Backend/src/contmgr/models.py
  Application/Backend/src/contmgr/serializers.py
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: Medium, State: Completed, Type: Development, Backend

#404 Annotation Retrieval Moved
  Application/Backend/api_docs/post_api_doc.json
  Application/Backend/api_docs/search_api_doc.json
  Application/Backend/src/contmgr/serializers.py
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: Medium, State: Completed, Type: Development, Backend

#405 Upvoted and Downvoted Users Details Added
  Application/Backend/api_docs/post_api_doc.json
  Application/Backend/api_docs/search_api_doc.json
  Application/Backend/src/contmgr/serializers.py
Labels: Priority: Medium, State: Completed, Type: Development, Backend

#400 Implementing Reputation Field for Users and ViewProfile Endpoint
  Application/Backend/api_docs/viewprofile_api_doc.json
  Application/Backend/src/accmgr/models.py
  Application/Backend/src/accmgr/tests.py
  Application/Backend/src/accmgr/urls.py
  Application/Backend/src/accmgr/views.py
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: Medium, Type: Development, Backend

#407 Changes in frontend due to backend response enhancements
  Application/Frontend/src/components/Comment.js
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/pages/Post.js
Labels: Priority: High, State: Completed, Type: Development, Frontend

#413 Annotations On Frontend
  Application/Frontend/package.json
  Application/Frontend/src/components/Comment.js
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/components/ImageAnnotation.js
  Application/Frontend/src/components/TextAnnotation.js
  Application/Frontend/src/pages/Post.js
  Application/Frontend/src/services/Annotation_API.js
Labels: Priority: High, State: In Progress, Type: Development, Frontend

#416 Frontend/feature/location
  Application/Frontend/src/components/CreatePostForm.js
  Application/Frontend/src/services/Create_Post_API.js
  Application/Frontend/src/services/Location_API.js
Labels: Priority: Medium, State: In Progress, Type: Development, Frontend

#419 Label Details Added to the Get Post Responses
  Application/Backend/api_docs/post_api_doc.json
  Application/Backend/api_docs/search_api_doc.json
  Application/Backend/src/contmgr/serializers.py
Labels: Priority: Medium, State: Completed, Type: Development, Backend

#420 Frontend/feature/search
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/services/Search_API.js
Labels: Priority: High, State: In Progress, Type: Development, Frontend

#414 Profile & Edit Profile Pages Redesigned, Doctor Verification Implemented
  Application/Mobile/pages/home/HomeScreen.js
  Application/Mobile/pages/navigation/DrawerNavigation.js
  Application/Mobile/pages/navigation/ProfileNavigation.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/profile/EditProfileScreen.js
  Application/Mobile/pages/profile/ProfileScreen.js
  Application/Mobile/pages/profile/ProfileScreenHeader.js
  Application/Mobile/pages/profileAPI.js
Labels: Type: Enhancement, Priority: Medium, State: In Progress, Mobile

#423 Frontend/feature/post location
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/pages/Post.js
Labels: Priority: Low, State: In Progress, Type: Development, Frontend

#426 Delete Account Feature Implemented in Mobile
  Application/Mobile/pages/profile/EditProfileScreen.js
  Application/Mobile/pages/profileAPI.js
Labels: Priority: Medium, State: In Progress, Type: Development, Mobile

#425 Backend/feature/post comment delete
  Application/Backend/api_docs/comment_api_doc.json
  Application/Backend/api_docs/post_api_doc.json
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: Medium, Type: Development, Backend

#428 Implementation Production Docker Code and Its Documentations
  Application/Backend/src/settings.py
  Application/Frontend/Dockerfile
  Application/Frontend/package.json
  Application/README.md
  Application/docker-compose.yml
Labels: Type: Documentation, Priority: High, Type: Development, Backend, Frontend

#432 Frontend/feature/search label
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/services/Search_API.js
Labels: Priority: Medium, State: In Progress, Type: Development, Frontend

#433 Delete operation for post and comment
  Application/Frontend/src/components/Comment.js
  Application/Frontend/src/pages/Post.js
  Application/Frontend/src/services/Delete_Post_API.js
  Application/Frontend/src/services/Delete_comment_API.js
Labels: Priority: High, State: Completed, Type: Development, Frontend

#436 Search Post Endpoint Now Returns Sorted Posts
  Application/Backend/src/contmgr/tests.py
  Application/Backend/src/contmgr/views.py
Labels: Priority: Medium, State: Completed, Type: Development, Backend

#439 text annotations implemented
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/home/HomeFeed.js
  Application/Mobile/pages/home/HomeScreen.js
  Application/Mobile/pages/post/PostDetails.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/postAPI.js
  Application/Mobile/react-native.config.js
  Application/Mobile/yarn.lock
Labels: Type: Enhancement, Priority: Medium, State: Completed

#441 Frontend/feature/view other profiles
  Application/Frontend/src/App.js
  Application/Frontend/src/components/Comment.js
  Application/Frontend/src/pages/Other_Profile.js
  Application/Frontend/src/pages/Post.js
  Application/Frontend/src/services/Profile.js
Labels: Priority: High, State: In Progress, Type: Development, Frontend

#444 Frontend/enhancement/removing unnecessary codes
  Application/Frontend/src/assets/edit-icon.png
  Application/Frontend/src/components/Comment.js
  Application/Frontend/src/components/CreatePostEditForm.js
  Application/Frontend/src/components/ForumPost.js
  Application/Frontend/src/components/LoginForm.js
  Application/Frontend/src/components/TextAnnotation.js
  Application/Frontend/src/pages/Home.js
  Application/Frontend/src/pages/Post.js
  Application/Frontend/src/pages/Profile.js
  Application/Frontend/src/services/Create_Comment_API.js
  Application/Frontend/src/services/EditPost_API.js
  Application/Frontend/src/services/EditProfile_API.js
  Application/Frontend/src/services/Edit_API.js
  Application/Frontend/src/services/Login_API.js
  Application/Frontend/src/services/Logout_API.js
  Application/Frontend/src/services/Register_API.js
  Application/Frontend/src/services/Search_API.js
  Application/Frontend/src/services/Vote_API.js
Labels: Type: Enhancement, Priority: Low, State: In Progress, Frontend

#442 Edit Post is Implemented
  Application/Mobile/pages/authAPI.js
  Application/Mobile/pages/authentication/Login.js
  Application/Mobile/pages/components/DateFunctions.js
  Application/Mobile/pages/home/BasicHeader.js
  Application/Mobile/pages/home/HomeFeed.js
  Application/Mobile/pages/home/HomeHeader.js
  Application/Mobile/pages/home/HomeScreen.js
  Application/Mobile/pages/navigation/DrawerNavigation.js
  Application/Mobile/pages/post/EditPost.js
  Application/Mobile/pages/post/PostDetails.js
  Application/Mobile/pages/post/PostLeftContent.js
  Application/Mobile/pages/post/PostPreview.js
  Application/Mobile/pages/post/PostRightContent.js
  Application/Mobile/pages/postAPI.js
  Application/Mobile/pages/profile/EditProfileScreen.js
  Application/Mobile/pages/profile/ProfileScreen.js
  Application/Mobile/pages/profile/ProfileScreenHeader.js
  Application/Mobile/pages/search/SearchScreen.js
  Application/Mobile/yarn.lock
Labels: Priority: High, State: In Progress, Type: Development, Mobile

#446 chatbot improved
  Application/Mobile/pages/home/Chatbot.js
Labels: Type: Enhancement, Priority: Medium, State: Completed, Mobile

#449 Unit Tests Added in Mobile
  Application/Mobile/__tests__/App-test.js
  Application/Mobile/__tests__/HomeHeader-test.js
  Application/Mobile/__tests__/Login-test.js
  Application/Mobile/__tests__/SearchHeader-test.js
  Application/Mobile/__tests__/SignUp-test.js
  Application/Mobile/package-lock.json
  Application/Mobile/package.json
  Application/Mobile/pages/authentication/Login.js
  Application/Mobile/pages/authentication/SignUpScreen.js
  Application/Mobile/pages/home/HomeHeader.js
  Application/Mobile/pages/search/SearchScreenHeader.js
  Application/Mobile/yarn.lock
Labels: Priority: High, State: In Progress, Type: Development, Mobile

#450 Hot Fix - Post Details do not have scrollview
  Application/Mobile/pages/post/PostDetails.js
Labels: Bug, Priority: High, State: Approved, Mobile
